<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com2x3b4p.example.volleyball">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tubiao_appp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_JiLu_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_ChaXun_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_JiLu_2"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity_JiLu_3" />
        <activity android:name=".Activity_data_all" />
        <activity android:name=".Activity_self_duiyuan_find" />
        <activity android:name=".Activity_Login" />
        <activity android:name=".Activity_register" />
        <activity android:name=".Activity_self_jiaolian" />
        <activity
            android:name=".StartDrawableActivity"
            android:theme="@style/startCartoon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_ChaXun_11" />
        <activity android:name=".Activity_ChaXun_22" />
        <activity android:name=".Activity_ChaXun_33" />
        <activity android:name=".Activity_ChaXun_44" />
        <activity android:name=".Activity_find_team" />
        <activity android:name=".Activity_duiyuahao_input" />
        <activity android:name=".Activity_duiyuan_self" />
        <activity android:name=".Activity_edit"></activity>
    </application>

</manifest>